<br /><br /><b class="lista" style="font-size: xx-large">{{"Move List"| traducir:'es'}}</b
><br />
<b class="lista" style="font-size: xx-large">{{"Level"| traducir:'es'}}</b><br />
<div style="display: flex; justify-content: space-around">
  <b>{{"Name"| traducir:'es'}}</b> <b>{{"Power"| traducir:'es'}}</b> <b>{{"Accuracy"| traducir:'es'}}</b>
  <b>{{"Description"| traducir:'es'}}</b> <b>{{"Category"| traducir:'es'}}</b><b>{{"Type"| traducir:'es'}}</b>
</div>
<br /><br />
<div *ngFor="let Move of listaDetalleNivel" class="lista">
  <table style="width: 100%; text-align: center">
    <tr>
      <td class="nombre" style="width: 17%">{{ Move.nombre }}</td>
      <td style="width: 17%">{{ Move.potencia }}</td>
      <td style="width: 17%">{{ Move.precicsion }}</td>
      <td style="width: 17%">{{ Move.descrip }}</td>
      <td style="width: 17%">
        <img src="\assets\Images\{{ Move.categ }}.png" class="img" />
      </td>
      <td style="width: 17%">
        <img src="\assets\Images\{{ Move.tipo }}.png" class="img" />
      </td>
    </tr>
    <br />
  </table>
</div>
<br />
<div *ngIf="listaDetalleMt.length>0">
<b class="lista" style="font-size: xx-large">{{"TM"| traducir:'es'}}</b><br />
<div style="display: flex; justify-content: space-around">
  <b>{{"Name"| traducir:'es'}}</b> <b>{{"Power"| traducir:'es'}}</b> <b>{{"Accuracy"| traducir:'es'}}</b>
  <b>{{"Description"| traducir:'es'}}</b> <b>{{"Category"| traducir:'es'}}</b><b>{{"Type"| traducir:'es'}}</b>
</div>
<br /><br />
<div *ngFor="let Move of listaDetalleMt" class="lista">
  <table style="width: 100%; text-align: center">
    <tr>
      <td class="nombre" style="width: 17%">{{ Move.nombre }}</td>
      <td style="width: 17%">{{ Move.potencia }}</td>
      <td style="width: 17%">{{ Move.precicsion }}</td>
      <td style="width: 17%">{{ Move.descrip }}</td>
      <td style="width: 17%">
        <img src="\assets\Images\{{ Move.categ }}.png" class="img" />
      </td>
      <td style="width: 17%">
        <img src="\assets\Images\{{ Move.tipo }}.png" class="img" />
      </td>
    </tr>
    <br />
  </table>
</div>
</div>