<br /><br /><b class="lista" style="font-size: xx-large">{{"Move List"| traducir:'es'}}</b
><br />
<b class="lista" style="font-size: xx-large">{{"Level"| traducir:'es'}}</b><br />
<table style="width: 100%;">
  <tr>
    <td>{{"Level"| traducir:'es'}}</td> <td>{{"Name"| traducir:'es'}}</td> <td>{{"Power"| traducir:'es'}}</td> <td>{{"Accuracy"| traducir:'es'}}</td>
  <td>{{"Category"| traducir:'es'}}</td><td>{{"Type"| traducir:'es'}}</td>
</tr>
</table>
<br /><br />
<div *ngFor="let Move of listaDetalleNivel" class="lista">
  <table style="width: 100%; text-align: center">
    <tr>
      <td >{{ Move.nivel }}</td>
      <td class="texto" >{{ Move.nombre }}</td>
      <td >{{ Move.potencia }}</td>
      <td >{{ Move.precicsion }}</td>
      <td >
        <img src="\assets\Images\{{ Move.categ }}.png" class="img" />
      </td>
      <td >
        <img src="\assets\Images\{{ Move.tipo }}.png" class="img" />
      </td>
    </tr>
    <br />
  </table>
</div>
<br />
<div *ngIf="listaDetalleMt.length>0">
<b class="lista" style="font-size: xx-large">{{"TM"| traducir:'es'}}</b><br />
<table style="width: 100%;">
  <tr>
  <td>{{"Name"| traducir:'es'}}</td> <td>{{"Power"| traducir:'es'}}</td> <td>{{"Accuracy"| traducir:'es'}}</td>
  <td>{{"Category"| traducir:'es'}}</td><td>{{"Type"| traducir:'es'}}</td>
</tr>
</table>
<br /><br />
<div *ngFor="let Move of listaDetalleMt" class="lista">
  <table style="width: 100%;">
    <tr>
      <td class="texto">{{ Move.nombre }}</td>
      <td >{{ Move.potencia }}</td>
      <td >{{ Move.precicsion }}</td>
      <td >
        <img src="\assets\Images\{{ Move.categ }}.png" class="img" />
      </td>
      <td >
        <img src="\assets\Images\{{ Move.tipo }}.png" class="img" />
      </td>
    </tr>
    <br />
  </table>
</div>
</div>