.header{
  display: relative;
}

.circle{
  height: 7vw;
  width: 7vw;
  background-color: rgb(97, 159, 221);
  border-radius: 100%;
  position: absolute;
  top: 3vw;
  border: 2px solid white;
    left: 6%;
}

.circle2 {
  height: 2vw;
  width: 2vw;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 100px;
  position: absolute;
  top: 5vw;
  left: 11%;
}

.text {
  position: absolute;
  top: 1%;
  left: 15%;
      font-family: 'Pokemon Solid', sans-serif;
      font-size: 4vw;
      color: rgb(255, 204, 0);
      -webkit-text-stroke-width: 0.070em;
      -webkit-text-stroke-color: rgb(57, 134, 228);


}
.fondo{
    width: 99%;
    border-top: 6vw solid #C70039 ;
    z-index: 1;
      border-radius: 15px 15px 15px 0px;
   
}

.rectangulo{
  height: 0em;
    width:2%;
    display: absolute;
    border-right: 70vw solid  transparent;
  border-top: 7vw solid  #C70039;
  border-left: 20vw solid #C70039;
  z-index: 3;
  top: 100%;
    left: 100%;
    border-radius: 0px 0px 0px 15px;

}



@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
