.imagen {
  width: auto;
  height: auto;
  border: solid 3px;
  border-radius: 10%;
}
.imagenContainer {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.stats,
.detalles{
  display: flex;
  flex-direction: column;
  font-size: x-large;
  border: solid 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 20%;
}
.nombre{
  text-align: center;
  text-transform: capitalize;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.type {
  text-align: center;
  text-transform: capitalize;
  padding-left: 30%;
  padding-right: 30%;
}

.tipoFormato {
  display: block;
  size: 50px;
  text-transform: capitalize;
  border: solid 2px;
  border-radius: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.water {
  background-color: #3899f8;
}

.grass {
  background-color: #78c850;
}

.fire {
  background-color: #f05030;
}

.fighting {
  background-color: #a05038;
}

.bug {
  background-color: #a8b820;
}

.poison {
  background-color: #b058a0;
}

.flying {
  background-color: #98a8f0;
}

.normal {
  background-color: #a8a090;
}

.psychic {
  background-color: #f870a0;
}

.rock {
  background-color: #b8a058;
}

.ground {
  background-color: #e9d6a4;
}

.electric {
  background-color: #f8d030;
}

.fairy {
  background-color: #e79fe7;
}

.ghost {
  background-color: #6060b0;
}

.dragon {
  background-color: #7860e0;
}

.dark {
  background-color: #7a5848;
}

.ice {
  background-color: #58c8e0;
}

.steel {
  background-color: #a8a8c0;
}