.imagen {
  width: auto;
  height: auto;
  border: solid 3px;
  border-radius: 10%;
}
.imagenContainer {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.stats,
.detalles{
  display: flex;
  flex-direction: column;
  font-size: x-large;
  border: solid 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 20%;
}
.nombre{
  text-align: center;
  text-transform: capitalize;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.type {
  text-align: center;
  text-transform: capitalize;
  padding-left: 30%;
  padding-right: 30%;
}

.tipoFormato {
  display: block;
  size: 50px;
  text-transform: capitalize;
  border: solid 2px;
  border-radius: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
