.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto auto auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 80%; /* Puedes ajustar el ancho según tus necesidades */
  margin: 0 auto; /* Centra el contenedor en la pantalla */
}

.nombre {
  grid-area: 1 / 2 / 2 / 4;
  border: 1px solid black;
  padding: 10px;
}

.imagenContainer {
  grid-area: 1 / 1 / 2/ 2; /* Ajustado para ocupar desde la fila 2 hasta la fila 6 y todas las columnas */
  border: 1px solid black;
  padding: 10px;
}

.imagen {
  width: 100%;
}

.type {
  /* Puedes ajustar según sea necesario */
}

.detalles {
  grid-area: 6 / 1 / 7 / 3; /* Ajustado para ocupar desde la fila 6 hasta la fila 7 y desde la columna 1 hasta la columna 3 */
  border: 1px solid black;
  padding: 10px;
}

.stats {
  grid-area: 6 / 3 / 7 / 5; /* Ajustado para ocupar desde la fila 6 hasta la fila 7 y desde la columna 3 hasta la columna 5 */
  border: 1px solid black;
  padding: 10px;
}

.divdetipos {
  grid-area: 6 / 5 / 7 / 6; /* Ajustado para ocupar desde la fila 6 hasta la fila 7 y desde la columna 5 hasta la columna 6 */
  border: 1px solid black;
  padding: 10px;
}

.tabla {
  grid-area: 1 / 4 / 2 / 6; /* Ajustado para ocupar desde la fila 2 hasta la fila 6 y desde la columna 4 hasta la columna 6 */
  border: 1px solid black;
  padding: 10px;
}

.grafica {
  width: 100%;
}
