<div class="todo">
<div class="evo" *ngIf="pokes && pokes.evo1.length>0">
  <div  [ngClass]="detalle.tipos[0].toLowerCase()" class="cadaPoke" *ngFor="let Pokemon of pokes.pokemon; let i = index">
    <div [routerLink]="'/detalle/' + pokes.pokemon[i].num">
      <div class="texto">{{pokes.pokemon[i].nombre}}</div><img class="cadaPokeImagen" src="{{pokes.pokemon[i].imagen}}">
      <div class="tipoImagen" >
        <div class="formatoTipoImagen" [ngClass]="pokes.pokemon[i].tipos[0].toLowerCase()">
          {{ pokes.pokemon[i].tipos[0]| traducir:'es' }}
        </div>
        <div class="texto" *ngIf="pokes.pokemon[i].tipos[1] != null" class="formatoTipoImagen" [ngClass]="[pokes.pokemon[i].tipos[1].toLowerCase()]">
          {{ pokes.pokemon[i].tipos[1]| traducir:'es' }}
        </div>
      </div>
      </div>
    </div>
  </div>
<div  class="evo" *ngIf="pokes && pokes.evo1.length>0">
  <div [ngClass]="Pokemon.tipos[0].toLowerCase()" class="cadaPoke" *ngFor="let Pokemon of pokes.evo1; let i = index">
    <div [routerLink]="'/detalle/' + pokes.evo1[i].num">
      <div class="texto">{{pokes.evo1[i].nombre}}</div><img class="cadaPokeImagen" src="{{pokes.evo1[i].imagen}}">
      <div class="tipoImagen">
        <div class="formatoTipoImagen" [ngClass]="pokes.evo1[i].tipos[0].toLowerCase()">
          {{ pokes.evo1[i].tipos[0]| traducir:'es' }}
        </div>
        <div *ngIf="pokes.evo1[i].tipos[1] != null" class="formatoTipoImagen" [ngClass]="[pokes.evo1[i].tipos[1].toLowerCase()]">
          {{ pokes.evo1[i].tipos[1]| traducir:'es' }}
        </div>
      </div>
      </div>
      <div class="texto" *ngIf="pokes">
        <div *ngFor="let trig of pokes.triggers[i]; let j = index">
          <div *ngIf="pokes.triggers[i][j+1]!=false">
            <b *ngIf="pokes&&pokes.triggers[i][j]==1&&j==0">{{"Gender"|traducir: 'es'}}: ♀️</b>
            <b *ngIf="pokes&&pokes.triggers[i][j]==2&&j==0">{{"Gender"|traducir: 'es'}}: ♂️</b>
            <b *ngIf="pokes&&pokes.triggers[i][j+1]&&j==0"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{pokes.triggers[i][j+1]}}.png"></b>
            <b *ngIf="pokes&&pokes.triggers[i][j+1]&&j==1"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{pokes.triggers[i][j+1]}}.png"></b>
            <b *ngIf="pokes&&pokes.triggers[i][j+1]&&j==7">{{"Happiness"|traducir: 'es'}} 😄 : {{pokes.triggers[i][j+1]}}</b>
            <b *ngIf="pokes&&pokes.triggers[i][j+1]&&j==13">{{"Time of Day"|traducir: 'es'}} ⏰: </b>
            <b *ngIf="pokes&&pokes.triggers[i][j+1]&&j==8">{{"Level"|traducir: 'es'}}⬆️: {{pokes.triggers[i][j+1]}}</b>
            <b *ngIf="pokes&&pokes.triggers[i][j+1]&&j==4">{{"Location"|traducir: 'es'}} 📍: {{pokes.triggers[i][j+1]}}</b>
            <b *ngIf="pokes&&pokes.triggers[i][j+1]&&j==6">{{"Beauty"|traducir: 'es'}} 💅: {{pokes.triggers[i][j+1]}}</b>
            <b>{{pokes.triggers[i][j+1]|traducir: 'es'}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="evo"  *ngIf="pokes && pokes.evo1.length>0">
    <div  [ngClass]="Pokemon.tipos[0].toLowerCase()" class="cadaPoke" *ngFor="let Pokemon of pokes.evo2; let i = index">
      <div  [routerLink]="'/detalle/' + pokes.evo2[i].num">
<div class="texto">{{pokes.evo2[i].nombre}}</div><img class="cadaPokeImagen" src="{{pokes.evo2[i].imagen}}">
        <div class="tipoImagen">
          <div class="formatoTipoImagen" [ngClass]="pokes.evo2[i].tipos[0].toLowerCase()">
            {{ pokes.evo2[i].tipos[0]| traducir:'es' }}
          </div>
          <div *ngIf="pokes.evo2[i].tipos[1] != null" class="formatoTipoImagen" [ngClass]="[pokes.evo2[i].tipos[1].toLowerCase()]">
            {{ pokes.evo2[i].tipos[1]| traducir:'es' }}
          </div>
        </div>
        </div>
        <div class="texto"  *ngIf="pokes">
          <div  *ngFor="let trig of pokes.triggers[i+pokes.evo1.length]; let j = index">
            <div *ngIf="pokes.triggers[i+pokes.evo1.length][j+1]!=false">
              <b *ngIf="pokes&&pokes.triggers[i+pokes.evo1.length][j]==1&&j==0">{{"Gender"|traducir: 'es'}}: ♀️</b>
              <b *ngIf="pokes&&pokes.triggers[i+pokes.evo1.length][j]==2&&j==0">{{"Gender"|traducir: 'es'}}: ♂️</b>
              <b *ngIf="pokes&&pokes.triggers[i+pokes.evo1.length][j+1]&&j==0"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{pokes.triggers[i+pokes.evo1.length][j+1]}}.png">{{pokes.triggers[i+pokes.evo1.length][j+1]}}</b>
              <b *ngIf="pokes&&pokes.triggers[i+pokes.evo1.length][j+1]&&j==1"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{pokes.triggers[i+pokes.evo1.length][j+1]}}.png">{{pokes.triggers[i+pokes.evo1.length][j+1]}}</b>
              <b *ngIf="pokes&&pokes.triggers[i+pokes.evo1.length][j+1]&&j==7">{{"Happiness"|traducir: 'es'}} 😄 : {{pokes.triggers[i+pokes.evo1.length][j+1]}}</b>
              <b *ngIf="pokes&&pokes.triggers[i+pokes.evo1.length][j+1]&&j==13">{{"Time of Day"|traducir: 'es'}} ⏰: </b>
              <b *ngIf="pokes&&pokes.triggers[i+pokes.evo1.length][j+1]&&j==8">{{"Level"|traducir: 'es'}}⬆️: {{pokes.triggers[i+pokes.evo1.length][j+1]}}</b>
              <b *ngIf="pokes&&pokes.triggers[i+pokes.evo1.length][j+1]&&j==4">{{"Location"|traducir: 'es'}} 📍: {{pokes.triggers[i+pokes.evo1.length][j+1]}}</b>
              <b *ngIf="pokes&&pokes.triggers[i+pokes.evo1.length][j+1]&&j==6">{{"Beauty"|traducir: 'es'}} 💅: {{pokes.triggers[i+pokes.evo1.length][j+1]}}</b>
              <b>{{pokes.triggers[i+pokes.evo1.length][j+1]|traducir: 'es'}}</b>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>