.todo{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items:center ;
}
.texto{
background-color: rgba(0, 0, 0, 0.185);
font-weight: bold;
}
.evo{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
}
.cadaPoke{
  border: solid 1px;
  text-transform: capitalize;
  width: 15em;
}
.cadaPokeImagen{
  width: 100%;
}
@media (min-width: 0px) {
  .todo{
    flex-direction: column;
  }
}
@media (min-width: 620px) {
  .todo{
    flex-direction: column;
  }
}

@media (min-width: 950px) {
  .todo{
    align-items: center;
    flex-direction: row;
  }
}