<div class="evo" *ngIf="pokes && pokes.pokemons.length>1">
  <div class="cadaPoke" *ngFor="let Pokemon of pokes.pokemons; let i = index">
    <div [routerLink]="'/detalle/' + pokes.pokemons[i].num">
      {{pokes.pokemons[i].nombre}}<img class="cadaPokeImagen" src="{{pokes.pokemons[i].imagen}}">
      <div class="tipoImagen">
        <div class="formatoTipoImagen" [ngClass]="pokes.pokemons[i].tipos[0].toLowerCase()">
          {{ pokes.pokemons[i].tipos[0] }}
        </div>
        <div *ngIf="pokes.pokemons[i].tipos[1] != null" class="formatoTipoImagen" [ngClass]="[pokes.pokemons[i].tipos[1].toLowerCase()]">
          {{ pokes.pokemons[i].tipos[1] }}
        </div>
      </div>
        <div *ngIf="i>0&&pokes">
          <div *ngFor="let trig of pokes.triggers[i-1]; let j = index">
            <div *ngIf="pokes.triggers[i-1][j+1]!=false">
              <b *ngIf="pokes&&pokes.triggers[i-1][j]==1&&j==0">♀️</b>
              <b *ngIf="pokes&&pokes.triggers[i-1][j]==2&&j==0">♂️</b>
              <b *ngIf="pokes&&pokes.triggers[i-1][j+1]&&j==1"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{pokes.triggers[i-1][j+1]}}.png"></b>
              <b *ngIf="pokes&&pokes.triggers[i-1][j+1]&&j==7">😄</b>
              <b *ngIf="pokes&&pokes.triggers[i-1][j+1]&&j==13">⏰</b>
              {{pokes.triggers[i-1][j+1]}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>