<div class="buscador">
<button (click)="cargaPokemon()">Reset</button>
<input type="text" placeholder="🔍︎"[(ngModel)]="filtroNombre" (keyup)="filtrarNombre()" />
  <button value="Gen1" (click)="filtrarGen(1)">Gen1</button>
  <button value="Gen2" (click)="filtrarGen(2)">Gen2</button>
  <button value="Gen3" (click)="filtrarGen(3)">Gen3</button>
  <button value="Gen4" (click)="filtrarGen(4)">Gen4</button>
</div>
<div class="grid-container">
  <div *ngFor="let Pokemon of listaMostrada">
    <div class="poke">
      <p class="numero">
        <b
          >Nº{{ Pokemon.num < 10 ? "00" : Pokemon.num < 100 ? "0" : ""
          }}{{ Pokemon.num }}</b
        >
      </p>
      <img
        class="imagen"
        src="{{ Pokemon.imagen }}"
        alt="Texto alternativo de la imagen"
      /><br />
      <b class="nombre">{{ Pokemon.nombre }}</b
      ><br />
      <div class="type">
        <b [ngClass]="Pokemon.tipos[0].toLowerCase()">
          {{ Pokemon.tipos[0] }}
        </b>
        <b *ngIf="Pokemon.tipos[1] != null">
          <b [ngClass]="['tipo2', Pokemon.tipos[1].toLowerCase()]">
            {{ Pokemon.tipos[1] }}
          </b>
        </b>
      </div>
    </div>
  </div>
</div>
<app-boton-volver-arriba></app-boton-volver-arriba>