<div class="buscador">
  <input class="buscaNombre" type="text" placeholder="🔍︎" [(ngModel)]="filtroNombre" (keyup)="aplicarFiltros(ultimoPulsado)" />
</div>
<div>
  <button class="Gen1" [class.boton-activo]="ultimoPulsado == 1" (click)="aplicarFiltros(1)">
    <b>I</b>
  </button>
  <button class=" Gen2" [class.boton-activo]="ultimoPulsado == 2" (click)="aplicarFiltros(2)">
    <b>II</b>
  </button>
  <button class="Gen3" [class.boton-activo]="ultimoPulsado == 3" (click)="aplicarFiltros(3)">
    <b>III</b>
  </button>
  <button class="Gen4" [class.boton-activo]="ultimoPulsado == 4" (click)="aplicarFiltros(4)">
    <b>IV</b>
  </button>
  <button class="Todas" [class.boton-activo]="ultimoPulsado == 5" (click)="aplicarFiltros(5)">
    <b>&nbsp;&nbsp;I - IV</b>
  </button>
</div>
<div>
  <a style="cursor: pointer" (click)="mostrarSelector = !mostrarSelector">
    <img [ngClass]="{ 'rotate-animation': mostrarSelector, 'imagenTipos': !mostrarSelector}" src="\assets\Images\pokemon.png" /></a>
</div>


<!--Selector Oculto-->

<div *ngIf="mostrarSelector" [ngClass]="{ 'selectorTipos': mostrarSelector, 'selectorTipos2': !mostrarSelector, 'slide-animation': mostrarSelector }" id="selectorTipos">
  <div *ngFor="let TipoDeTipo of listaDeTipos; let i = index">
    <div class="cadaTipo" *ngIf="listaDeTipos[i].status">
      <button class="pulsado" [ngClass]="listaDeTipos[i].name" [textContent]="listaDeTipos[i].name" (click)="
          listaDeTipos[i].status = !listaDeTipos[i].status; aplicarFiltros(ultimoPulsado)"></button>
    </div>
    <div class="cadaTipo" *ngIf="!listaDeTipos[i].status">
      <button class="noPulsado" [ngClass]="listaDeTipos[i].name" [textContent]="listaDeTipos[i].name" (click)="
          listaDeTipos[i].status = !listaDeTipos[i].status; aplicarFiltros(ultimoPulsado)"></button>
    </div>
  </div>
</div>

<div class="listaVacia" *ngIf="listaMostrada.length==0">Pokémon error 404</div>

<div class="grid-container">
  
  <div *ngFor="let Pokemon of listaMostrada">
    <div class="poke" [routerLink]="'/detalle/' + Pokemon.num">
      <p class="numero">
        <b>{{ Pokemon.num < 10 ? "00" : Pokemon.num < 100 ? "0" : "" }}{{ Pokemon.num }}</b>
      </p>
      <img class="imagen" src="{{ Pokemon.imagen }}" alt="Texto alternativo de la imagen" /><br />
      <b class="nombre">{{ Pokemon.nombre }}</b><br />
      <div class="type">
        <b [ngClass]="Pokemon.tipos[0].toLowerCase()">
          {{ Pokemon.tipos[0] }}
        </b>
        <b *ngIf="Pokemon.tipos[1] != null">
          <b [ngClass]="['tipo2', Pokemon.tipos[1].toLowerCase()]">
            {{ Pokemon.tipos[1] }}
          </b>
        </b>
      </div>
    </div>
  </div>
</div>
<app-boton-volver-arriba></app-boton-volver-arriba>