.grid-container {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(5, 1fr);
  padding: 3%;
  font-family: 'Comic sans', 'Arial Narrow', Arial, sans-serif;
}
@media (min-width: 0px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 330px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 660px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 990px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1350px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.numero,
.type {
  padding-left: 7px;
  color: white;
}

.numero {
  text-align: left;
  background-color: grey;
  width: 30px;
  border-radius: 50%;
  border-color: #222224;
}
.type{
  border-color: wheat;
}
.nombre,
.type {
  text-transform: capitalize;
  padding-left: 30%;
  padding-right: 30%;
}

.water,
.grass,
.fire,
.fighting,
.bug,
.poison,
.flying,
.normal,
.psychic,
.rock,
.ground,
.electric,
.fairy,
.ghost,
.dragon,
.dark,
.ice,
.steel {
  display: block;
  size: 50em;
  text-transform: capitalize;
  border: solid 2px black;
  border-radius: 5px;
  font-size: 90%;
  text-shadow: 1px 1px 0px black,1px -1px 0px black,-1px 1px 0px black,-1px -1px 0px black;
}

.poke {
  height: 20vw;
  width: 20vw;
  border: 2px transparent rgba(220, 20, 60, 0);
  border-radius: 100%;
  text-align: center;
  background: linear-gradient(to bottom, crimson 0, #ee1515 45%, #222224 45%, #222224 60%, #f0f0f0 60%, #f0f0f0 100%);
}

.poke:hover {
  animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  height: 20vw;
  width: 20vw;
  border: 2px solid crimson;
  border-color: crimson;
  border-radius: 100%;
  text-align: center;
  background: linear-gradient(to bottom, crimson 0%, crimson 45%, #222224 45%, #222224 60%, #f0f0f0 60%, #f0f0f0 100%);
}

.poke::selection {
  background-color: #222224;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0) rotate(0);
  }

  10% {
    transform: translateX(-5px) rotate(-2.5deg);
  }

  20% {
    transform: translateX(5px) rotate(2.5deg);
  }

  30% {
    transform: translateX(-5px) rotate(-2.5deg);
  }

  40% {
    transform: translateX(5px) rotate(2.5deg);
  }

  50% {
    transform: translateX(-5px) rotate(-2.5deg);
  }

  60% {
    transform: translateX(5px) rotate(2.5deg);
  }

  70% {
    transform: translateX(-5px) rotate(-2.5deg);
  }

  80% {
    transform: translateX(5px) rotate(2.5deg);
  }

  90% {
    transform: translateX(-5px) rotate(-2.5deg);
  }
}

.imagen {
  width: 60%;
  height: auto;
}
.listaVacia{
  font-size: 3em;
  font-family: 'Pokemon Solid', sans-serif;
  color:rgb(255, 204, 0);
  -webkit-text-stroke-width: 0.06em;
  -webkit-text-stroke-color: rgb(57, 134, 228);
  text-align: center;
  width: 100%;
}
.buscador {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}
.buscaNombre{
  font-size: 2em;
  width: 30%;
  min-width: 10em;
  border-radius: 0.5em;
}
/*.selectorTipos {
  display: none;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(100%);
  opacity: 0;
}*/
.selectorTipos {
  height: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
  /*transition: opacity 0.5s ease-in-out;*/
  animation: slide 1s;
}
.selectorTipos2 {
  height: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
  /*transition: opacity 0.5s ease-in-out;*/
  animation: slideOut 1s;
}
.cadaTipo{
  display: flex;
    color: #fff;
    margin: 8px;
    width: 4em;   
    font-size: 2em;
    text-shadow: 22px 2px 0px black,2px -2px 0px black,-1px 1px 0px black,-1px -1px 0px black;
}
.noPulsado{
  border-color: black;
}
.pulsado{
  border-color: whitesmoke;
}
button {
  margin-left: 10px;
  width: 130px;font-size: larger;
  color: white;
  border-radius: 5px;
}

.Gen1,
.Gen2,
.Gen3,
.Gen4,
.Todas {
  background-size: 200% 100%;
}

.Gen1 {
  background: linear-gradient(to right, crimson 0%, crimson 50%, green 50%, green 100%);
}

.Gen2 {
  background: linear-gradient(to right, rgb(199, 199, 26) 0%, rgb(199, 199, 26) 50%, grey 50%, grey 100%);
}

.Gen3 {
  background: linear-gradient(to right, crimson 0%, crimson 50%, blue 50%, blue 100%);
}

.Gen4 {
  background: linear-gradient(to right, rgb(93, 20, 220) 0%, rgb(93, 20, 220) 50%, rgb(255, 0, 208) 50%, rgb(255, 0, 208) 100%);
}

.Todas {
  background: linear-gradient(to right, rgb(153, 152, 152) 0%, rgb(153, 152, 152) 50%, black 50%, black 100%);
}

.boton-activo {
  border: 3px solid rgb(255, 174, 0);
}


.imagenTipos{
  width: 5em;
  animation: rotateb 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

}

.rotate-animation {
  width: 5em;
  animation: rotate 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
  
}

@keyframes rotateb {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
  
}

.slide-animation {
  height: 100%;
  opacity: 1;
}
@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-0%);
    opacity: 0;
    display: none;
  }
}

@keyframes slide {
  from {
    transform: translateY(-0%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    display: flex;
  }
}

